body{
    display: flex;
    gap: 50px;
    margin: 0;
    flex-direction: column;
    background-color: #FAF5E5;
}
body.dark {
    background-color: #1a0e09bb; 
    color: #fff;
  }
  body.dark footer {
    background-color: #352c18; 
    color: #fff;
  }
header{
    background-image: url("image/drink.png");
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
header h1{
    color: #FFFF;
    font-family: Roboto;
    font-size: 64px;
    animation: fadeIn 1s forwards;
}
header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px; 
    background-color: black; 
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.navigat ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
.navigat li {
    display: inline;
    margin-right: 23px;
  }
  
.navigat a {
    text-decoration: none;
    font-family: Inter;
font-size: 73%;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #ffffff;
  }
  body.dark .navigat a{
    color: #fff;
  }
main{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drinklist{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
}
.drinklist h2{
    position: relative;
    font-size: 40px;
    }
    .drinklist h2::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 3px; 
        background-color: #0000004d; 
    
    }
    .drinkblocki{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 30px;
        flex-wrap: wrap;
    }
.drink{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    width: 600px;
}
.wihi{
  width: 300px;
  height: 198px;  
}
.text{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}
.nametext{
    display: flex;
    align-items: start;
    flex-direction: column;
}
.drinkimg1{
    content: url("image/1aperol.png");
}
.drinkimg2{
    content: url("image/2aperol.png");
}
.drinkimg3{
    content: url("image/3aperol.png");
}
.drinkimg4{
    content: url("image/4aperol.png");
}
.drinkimg5{
    content: url("image/1classik.png");
}
.drinkimg6{
    content: url("image/2classik.png");
}
.drinkimg7{
    content: url("image/3classik.png");
}
.drinkimg8{
    content: url("image/4classik.png");
}
.drinkimg9{
    content: url("image/5classik.png");
}
.drinkimg10{
    content: url("image/6classik.png");
}
.drinkimg11{
    content: url("image/1sig.png");
}
.drinkimg12{
    content: url("image/2sig.png");
}
.drinkimg13{
    content: url("image/3sig.png");
}
.drinkimg14{
    content: url("image/4sig.png");
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #FFD36B;
    padding-bottom: 6px;
    width: 100%;
}
.imgfooter{
    content: url("image/placebottom.png");
    margin-top: 36px;
}
.textfooter{
    display: flex;
    gap: 86px;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
}
.uptextfooter{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 140px;
}
.contactus{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.textcontactus{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.opening{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.textopening{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.socials{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.downfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}
@media (max-width: 768px) {
    .uptextfooter{
        flex-direction: column;
        gap: 15px;
    }
    .downfooter{
        flex-direction: column;
        gap: 15px;
    }
    .drink{
        width: 500px;
    }
}
@media (max-width: 540px) {
    .drink{
        width: 400px;
    }
}
@media (max-width: 430px) {
    .drink{
        width: 310px;
    }
}
@media (max-width: 340px) {
    .drink{
        width: 290px;
    }
}